altgraph==0.17
appdirs==1.4.4
astroid==2.7.3
atomicwrites==1.4.0
attrs 
black==19.10b0
certifi==2020.6.20
chardet==4.0.0
click==8.0.1
colorama 
coverage==5.3
cubemos.skeletontracking==3.1.0
cycler==0.10.0
dataclasses==0.6
decorator==4.4.2
docutils==0.16
dpcpp-cpp-rt==2021.3.0
ffmpeg-python==0.2.0
filterpy==1.4.5
future==0.18.2
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
importlib-metadata==4.5.0
iniconfig 
intel-cmplr-lib-rt==2021.3.0
intel-cmplr-lic-rt==2021.3.0
intel-opencl-rt==2021.3.0
intel-openmp==2021.3.0
isort==5.9.3
joblib==1.0.1
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.gstreamer==0.3.1
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kiwisolver==1.3.2
lazy-object-proxy==1.6.0
matplotlib==3.4.3
mccabe==0.6.1
mkl==2021.3.0
mkl-fft==1.2.0
mkl-service==2.3.0
more-itertools 
moviepy==1.0.3 
mypy-extensions==0.4.3
numpy==1.19.5
olefile==0.46
opencv-python==4.5.1.48
packaging 
pandas==1.3.2
pathspec==0.7.0
patsy==0.5.1
pefile==2021.5.24
Pillow==8.3.1
platformdirs==2.3.0
pluggy 
proglog==0.1.9
psutil==5.8.0
py 
pycallgraph==1.0.1
Pygments==2.8.1
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pykalman==0.9.5
pylint==2.10.2
pyparsing 
pypiwin32==223
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12.0
pyqtgraph==0.12.1
PyQtWebEngine==5.12.1
pyrealsense2==2.41.0.2666
pytest==6.2.4
python-dateutil==2.8.1
python-utils==2.5.6
pytz==2020.1
pywin32==300
pywin32-ctypes==0.2.0
regex==2021.8.28
requests==2.25.1
scikit-learn==0.24.2
scipy==1.7.1
six==1.15.0
statistics==1.0.3.5
stats==0.1.2a0
statsmodels==0.12.2
tbb==2021.3.0
threadpoolctl==2.2.0
toml 
tornado==6.1
tqdm==4.56.0
typed-ast==1.4.3
typing-extensions==3.10.0.2
urllib3==1.26.4
wincertstore==0.2
wrapt==1.11.2
zipp 
